:root {
  --primary-color: #dfd3c3;
  --secondary-color: #f0ece2;
  --tertiary-color: hotpink;
  --heading-font-family: "Lora", serif;
  --subheading-font-family: "Quicksand", sans-serif;
  --body-font-family: "Andada Pro", serif;
}

body {
  background: var(--secondary-color);
}

h1,
h2,
h3 {
  text-align: center;
}

h1 {
  font-family: var(--heading-font-family);
  font-size: 96px;
}

h2 {
  font-size: 46px;
  font-family: var(--subheading-font-family);
}

h3 {
  font-family: var(--subheading-font-family);
}

p {
  font-size: 16px;
  font-family: var(--body-font-family);
}

a {
  display: flex;
  justify-content: center;
}

img {
  border-radius: 20px;
}

.contact-box {
  background: var(--primary-color);
  padding: 80px 50px;
  border-radius: 10px;
  margin: 30px;
}

.hero {
  text-align: center;
  padding: 140px 0 80px 0;
  background: var(--primary-color);
}

.navigation-link {
  display: flex;
  justify-content: center;
}

.weather-app-image {
  width: 550px;
}

.profile-pic {
  max-width: 300px;
  display: flex;
  justify-content: center;
}

.content-section h1 {
  font-size: 64px;
  text-align: left;
}

.content-section h2 {
  font-size: 30px;
  text-align: left;
}

.content-section p {
  font-size: 16px;
}

.content-section {
  display: block;
  justify-content: center;
  padding: 160px 20px;
}

.contact-content h1 {
  padding: 140px 20px 40px 20px;
  font-size: 64px;
}

.github-link a {
  text-decoration: none;
  color: #685454;
  transition: all 150ms ease-in-out;
}

.github-link a:hover {
  color: var(--primary-color);
}

.social-links a {
  text-decoration: none;
  color: var(--tertiary-color);
  transition: all 150ms ease-in-out;
}

.social-links a:hover {
  color: var(--primary-color);
}

@media (max-width: 990px) {
  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 35px;
  }

  h3 {
    font-size: 28px;
  }

  img {
    display: none;
  }
}
