:root {
  --primary-color: #e7eaf6;
  --secondary-color: #fafafa;
  --tertiary-color: #4f81c7;
  --btn-color: #a2a8d3;
  --heading-font-family: "Lora", serif;
  --subheading-font-family: "Quicksand", sans-serif;
  --body-font-family: "Andada Pro", serif;
}

body {
  background: var(--secondary-color);
}

h1,
h2,
h3 {
  text-align: center;
}

h1 {
  font-family: var(--heading-font-family);
  font-size: 96px;
}

h2 {
  font-size: 46px;
  font-family: var(--subheading-font-family);
}

h3 {
  font-family: var(--subheading-font-family);
}

p {
  font-size: 16px;
  font-family: var(--body-font-family);
}

a {
  display: flex;
  justify-content: center;
}

img {
  border-radius: 20px;
  border: 10px solid white;
}

.btn-branding {
  background: var(--btn-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
  width: 250px;
  text-decoration: none;
  transition: all 150ms ease-in-out;
}

.btn-branding:hover {
  background: white;
  border: 1px solid var(--btn-color);
  color: var(--btn-color);
}
.contact-box {
  background: var(--primary-color);
  padding: 80px 50px;
  border-radius: 10px;
  margin: 30px;
}

.hero {
  text-align: center;
  padding: 140px 0 80px 0;
  background: var(--primary-color);
}

.navigation-link {
  display: flex;
  justify-content: center;
}

.weather-app-image {
  width: 550px;
}

.profile-pic {
  max-width: 300px;
  display: flex;
  justify-content: center;
}

.content-section h1 {
  font-size: 64px;
  text-align: left;
}

.content-section h2 {
  font-size: 30px;
  text-align: left;
}

.content-section p {
  font-size: 16px;
}

.content-section {
  display: block;
  justify-content: center;
  margin: 120px 20px;
}

.contact-content h1 {
  margin: 200px 20px 120px 20px;
  font-size: 64px;
}

.github-link a {
  text-decoration: none;
  color: #27296d;
  transition: all 150ms ease-in-out;
  display: inline-block;
}

.github-link a:hover {
  color: var(--tertiary-color);
}

.social-links a {
  text-decoration: none;
  color: var(--tertiary-color);
  transition: all 150ms ease-in-out;
}

.social-links a:hover {
  color: #27296d;
}

.row {
  background-color: white;
  border-radius: 10px;
  padding: 50px;
}

@media (max-width: 700px) {
  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 35px;
  }

  h3 {
    font-size: 28px;
  }

  img {
    display: none;
  }

  .profile-pic {
    display: none;
  }
}
